<nav class="navbar navbar-light">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">
      NgRx
    </a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/facilities']" class="nav-link">Facilities</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/activities']" class="nav-link">Activities</a>
      </li>
    </ul>
  </div>
</nav>
