<link rel="icon" type="image/x-icon" href="../../resources/favicon.ico" />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a [routerLink]="['/']" class="navbar-brand">
            GAGOOoooo
        </a>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a [routerLink]="['/']" class="nav-link">Home</a>
                <a [routerLink]="['/facilities']" class="nav-link">Facilities</a>
                <a [routerLink]="['/activities']" class="nav-link">Activities</a>
                <a [routerLink]="['/plans']" class="nav-link">Plans</a>
                <a [routerLink]="['/clients']" class="nav-link">Members</a>
                <a [routerLink]="['/employees']" class="nav-link">Staff</a>
                <a [routerLink]="['/reports']" class="nav-link">Reports</a>
                <a [routerLink]="['/inventory']" class="nav-link">Inventory</a>
                <a [routerLink]="['/signIn']" class="nav-link">LogOut</a>
            </div>
        </div>
    </div>
</nav>
