<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div ngbDropdown >
            <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
                <fa-icon [icon]="faBars"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a [routerLink]="['/']" class="nav-link">Home</a>
                <a [routerLink]="['/facilities']" class="nav-link">Facilities</a>
                <a [routerLink]="['/activities']" class="nav-link">Activities</a>
                <a [routerLink]="['/plans']" class="nav-link">Plans</a>
                <a [routerLink]="['/clients']" class="nav-link">Members</a>
                <a [routerLink]="['/employees']" class="nav-link">Staff</a>
                <a [routerLink]="['/reports']" class="nav-link">Reports</a>
                <a [routerLink]="['/inventory']" class="nav-link">Inventory</a>
                <a [routerLink]="['/signIn']" class="nav-link">LogOut</a>
            </div>
        </div>
        <a [routerLink]="['/']" class="navbar-brand">
            GAGOOoooo
        </a>
    </div>
</nav>
